# OpenAI 설정
OPENAI_API_KEY=?
OPENAI_MODEL=?

# LLM 옵션
ENABLE_LLM_API=?
ENABLE_PROFILE_LLM_API=?

# 온통청년 API
YOUTH_API_KEY=?

# FastAPI -> PostgreSQL
DB_USER = 3team
DB_PASSWORD = 3team
DB_HOST = localhost
DB_PORT = 5432